:root {
  --swiper-theme-color: #ffd700;
}

.portfolio-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem;
  padding-left: 9rem;
  background-color: #181818;

  h1.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    font-size-adjust: inherit;
  }

  .special {
    color: #ffd700;
    ::hover {
      color: #fff;
    }
  }

  .swiper {
    position: inherit;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: auto;
    margin-left:  -45px;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-item {
    position: relative;
    width: 550px;
    height: 600px;
    border-radius: 15px;

    img.portfolio-image {
      width: 550px;
      height: 70%;
      align-items: center;
      border-radius: 15px;
    }

    .content {
      position: absolute;
      top: 50px;
      background-color: #ffd700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-family:laBelleAurore, sans-serif;
      padding: 2rem;
      margin: 0 auto;
      border-radius: 0 20px 20px 20px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
}
    .content:hover {
     opacity: 0.9;
      transform: translateY(150px);
      shadow: 0 0 10px 0 #ffd700;

    }
    
    .content::before, .content::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50% 100%;
      z-index: 1;
    }
    
    .title {
      color: #181818;
      text-decoration:underline;
      font-size: 2.5rem;
      font-size-adjust: inherit;
    }

    .technologies {
      color: #181818;
      letter-spacing: 0.5px;
      span {
        text-transform: uppercase;
        font-weight: 700;
        color: #181818;
      }
    }

    .description {
      font-size: 1.5rem;
      color: #181818;
    }

    .btn {
      font-size: 2rem;
      text-transform: uppercase;
      color: #ffd700;
      font-weight: 800;
      letter-spacing: 4px;
      padding: 10px 20px;
      background-color: #181818;
      border: 2px solid #181818;
      border-radius: 5px;
      margin: 0 auto;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
      transition: all 150ms linear;
      cursor: pointer;
    }

    .btn:hover {
      background: darken(#ffd700, 1.5%);
      border: 1px solid #181818;
      color: #181818;
      transition: all 250ms linear;
    }
  }
}

@media (max-width: 960px) {
  .portfolio-page {
    width: 100%;
    margin: 0rem;
    margin-top: 7rem;

    h1.page-title {
      padding-top: 5%;
    }
    .swiper {
      position: inherit;
      width: 90%;
      margin: 0;
    }
  }
}

@media (max-width: 530px) {
  .portfolio-page {
      .swiper {
        position: inherit;
        width: 90%;
        margin: 0;
        padding: 0;
      }
  }
}
