:root {
  --swiper-theme-color: #ffd700;
}

.portfolio-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;

  .content {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    height: 100%;

    h1.page-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      font-size: 6rem;
      font-size-adjust: inherit;
    }
    .special {
      color: #ffd700;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #fff;
      }
    }

    .page-description {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0 0 2rem 0;
    }

    .portfolio-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        border-radius: 15px;
      }
      .content {
        display: none;
      }
    }
    .portfolio-item:active {
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        .title {
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 0.2px;
        }
        .technologies {
          color: #fff;
          span {
            text-transform: uppercase;
            color: #ffd700;
          }
          .description {
            font-size: 1.3rem;
            color: #fff;
            font-weight: 400;
            .btn {
              font-size: 2rem;
              text-transform: uppercase;
              color: #ffd700;
              font-weight: 800;
              letter-spacing: 4px;
              padding: 4px 40px;
              background-color: #181818;
              border: 2px solid #ffd700;
              border-radius: 5px;
              margin: 0 auto;
              animation: fadeInAnimation 1s 1.8s backwards;
              white-space: nowrap;
              transition: all 150ms linear;
              cursor: pointer;
            }

            .btn:hover {
              background: darken(#ffd700, 1.5%);
              border: 1px solid #181818;
              color: #181818;
            }
          }
        }
      }
    }
  }
}
