.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .text-zone {
    width: 70%;
    transition: all 0.3s ease;
  }
   @media (max-width: 960px) {
  .text-zone {
    width: 96%;
  }
}

  .special {
    font-size: 12rem;
    font-family: 'laBelleAurore';
    color: #ffd700;

    @media (max-width: 960px) {
      font-size: 7rem;
    }

    @media (max-width: 548px) {
      font-size: 6.5rem;
    }
    @media (max-width: 470px) {
      font-size: 6rem;
    }
    @media (max-width: 380px) {
      font-size: 5rem;
    }
  }

  h1 {
    color: #fff;
    font-size: 9rem;
    margin: 0;
    font-family: 'laBelleAurore';
    font-weight: 400;
    transition: all 0.3s ease;

    @media (max-width: 960px) {
      font-size: 6rem;
    }

    @media (max-width: 548px) {
      font-size: 5rem;
    }
    @media (max-width: 470px) {
      font-size: 4rem;
    }
    @media (max-width: 380px) {
      font-size: 3rem;
    }
  }

   h2 {
    color: #fff;
    font-size: 7rem;
    margin: 0;
    font-family: 'laBelleAurore';
    font-weight: 400;
    transition: all 0.3s ease;

    @media (max-width: 960px) {
      font-size: 5rem;
    }

    @media (max-width: 548px) {
      font-size: 4rem;
    }
    @media (max-width: 470px) {
      font-size: 3rem;
    }
    @media (max-width: 380px) {
        font-size: 2.6rem;  }
  }
  h3 {
    display: flex;
    justify-content: flex-start;
    color: #8d8d8d;
    margin:20px 0 20px 0;
    font-weight: 400;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    @media (max-width: 960px) {
      font-size: 2rem;
    }
    @media (max-width: 548px) {
      font-size: 1.5rem;
    }
    @media (max-width: 470px) {
      font-size: 1rem;
    }
  }

  .flat-button {
    text-align: center;
    color: #ffd700;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid #ffd700;
    margin: 4% auto;
    animation: fadeInAnimation 1s 1.8s backwards;
    transition: all 150ms linear;
    &:hover {
      background: darken(#ffd700, 1.5%);
      border: 1px solid rgba(#000, 0.05);
      box-shadow: 1px 1px 2px rgba(#fff, 0.2);
      color: #181818;
      text-decoration: none;
      transition: all 250ms linear;
    }

    @media (max-width: 960px) {
      font-size: 1.2rem;
      margin: 8% auto;
    }
  }
}