.home-page {
  .text-zone {
    position: relative;
    left: 10%;
    top: 25%;
    transform: translateY(-50%);
    width: 800px;
    max-height: 100%;
    transition: all 0.3s ease;

    @media (max-width: 960px){
      width: 600px;
      left: 5%;
      margin-right: 5%;
    }

    @media (max-width: 530px) {
      width: 375px;
      left: 2.5%;
      margin-right: 2.5%;
    }
  }

  .special {
    font-size: 12rem;
    max-height: 90%;
    font-family: 'laBelleAurore';
    color: #ffd700;
    transition: all 0.3s ease;

    @media (max-width: 960px){
      font-size: 7rem;
    }

    @media (max-width: 530px) {
      font-size: 4rem;
    }
  }

  h1 {
    color: #fff;
    font-size: 9rem;
    margin: 0;
    font-family: 'laBelleAurore';
    font-weight: 400;
    transition: all 0.3s ease;

    @media (max-width: 960px){
      font-size: 6rem;
    }

    @media (max-width: 530px) {
      font-size: 3rem;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    transition: all 150ms linear;

    &:hover {
      background: darken(#ffd700, 1.5%);
      border: 1px solid rgba(#000, 0.05);
      box-shadow: 1px 1px 2px rgba(#fff, 0.2);
      color: #181818;
      text-decoration: none;
      transition: all 250ms linear;
    }
  }
}

@media (max-width: 960px) {
  .home-page {
    .text-zone {
      left: 4rem;
      top: 25%;
      transform: translateY(-50%);
      width: 600px;
      max-width: 100%;
      max-height: 100%;
      margin-left: 10%;
    }

    .special {
      font-size: 7rem;
    }

    h1 {
      font-size: 6rem;
    }

    .flat-button {
      color: #ffd700;

      &:hover {
        color: #ffd700;
      }
    }
  }
}

@media (max-width: 530px) {
  .home-page {
    .text-zone {
      left: 1rem;
      top: 30%;
      transform: translateY(-85%);
      width: 375px;
      max-width: 96%;
      margin-left: 5%;
    }

    .special {
      font-size: 5rem;
    }

    h1 {
      font-size: 4rem;
    }
  }
}
