html{
  font-size: 62.5%;
}

body {
  font: 300 11px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: #101011;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: pan-up;
}
