.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  width: 70%;
}

@media screen and (max-width: 1260px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media (max-width: 755px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
